In [1]:
def display(): 
 print('hello you') 
display() 
display()

hello you
hello you

In [2]:
def mul(a,b):
    result=a*b
    return result
x,y=input('두수를 입력하시오.').split(',')
result=mul(int(x),int(y))
print('두수 곱의 결과 %d'%result)

두수를 입력하시오.10,50
두수 곱의 결과 500

In [3]:
def function(x,y): 
 x=10 
 y=20.0 
 print('함수 : %d %f' %(x,y)) 
x = 5 
y = 10.0 
print('메인함수 : %d %f' %(x,y)) 
function(x,y)
print('메인함수 : %d %f' %(x,y))

메인함수 : 5 10.000000
함수 : 10 20.000000
메인함수 : 5 10.000000

In [4]:
def display(name,job,age): 
 print('Name:',name)
 print('Job:',job)
 print('Age:',age)
display('Kevin','teacher',28) 
display('Kevin',28,'teacher')

Name: Kevin
Job: teacher
Age: 28
Name: Kevin
Job: 28
Age: teacher

In [39]:
def display(name,job,age):
    print('Name:'+name)
    print('Job:',job)
    print('Age:',age)
display(name='Kevin',job='teacher',age='28')
display(name='Kevin',age='28',job='teacher')

Name:Kevin
Job: teacher
Age: 28
Name:Kevin
Job: teacher
Age: 28

In [6]:
def function(x):
    x[0]=10
    print('함수 x:',x)
x=[1,2,3,4,5]
print('메인함수 x:',x)
function(x)
print('메인함수 x:',x)

메인함수 x: [1, 2, 3, 4, 5]
함수 x: [10, 2, 3, 4, 5]
메인함수 x: [10, 2, 3, 4, 5]

In [8]:
def function(x):
 for i in x: 
     print('리스트 데이터 : %d ' %(i))
x = [1,2,3,4,5] 
function(x)

리스트 데이터 : 1
리스트 데이터 : 2
리스트 데이터 : 3
리스트 데이터 : 4
리스트 데이터 : 5

In [43]:
import display1 
x=[1,2,3,4,5]
display1.function(x) 
display1.display('Kevin','teacher',28)

리스트 데이터 : 1
리스트 데이터 : 2
리스트 데이터 : 3
리스트 데이터 : 4
리스트 데이터 : 5
Name:Kevin
Job: teacher
Age: 28

In [44]:
from display1 import function
x=[1,2,3,4,5]
function(x)

리스트 데이터 : 1
리스트 데이터 : 2
리스트 데이터 : 3
리스트 데이터 : 4
리스트 데이터 : 5

In [45]:
from display1 import function as fun
x=[1,2,3,4,5]
fun(x)

리스트 데이터 : 1
리스트 데이터 : 2
리스트 데이터 : 3
리스트 데이터 : 4
리스트 데이터 : 5

In [46]:
import display1 as dp1
x=[1,2,3,4,5]
dp1.function(x)

리스트 데이터 : 1
리스트 데이터 : 2
리스트 데이터 : 3
리스트 데이터 : 4
리스트 데이터 : 5